.text{
    height:50px;
    border:1px solid #d4d4d4;
    background-color: #f8f8f8;
    box-sizing:border-box;
    padding:14px 18px;
    margin:0
    font-family: 'Muli',sans-serif,Arial,Helvetica;
    outline: none;
    color: #666;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.2em;
}

.button{
    height:50px;
    line-height:50px;
    background-color: #03367c;
    color:#fff;
    font-size: 18px;
    display: inline-block;
    border:none;
}

#title{
    margin: 50px 0 35px 0;
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

.contrainer{
    width:70%;
    margin:auto;

}