{% extends "layout.html" %}
{% block body %}
<!--<img class=".banner" src="http://p4.music.126.net/LyQIhBoQlCjnQLwdE2G1Bg==/18799449813620429.jpg">-->
<script>
    $("#nav_convert").attr("class", "active");
</script>
<div class="contrainer">
<p class="text-center" id="title">qq音乐歌单导入到网易云音乐</p>
  <form action="{{ url_for('convert') }}" method=post>

      <input type=text name=url class="text" placeholder="https://y.qq.com/n/yqq/playlist/xxxxxxxxxx.html" style="width: 80%;float: left;">
      <input type=submit value="DO IT" class="button" style="width: 20%;float: left;">
  </form>
</div>
<div class="contrainer" style="margin-top: 20px;">
<pre>
操作步骤：
    1.用浏览器打开 https://y.qq.com/portal/profile.html#sub=other&tab=create& ，点击你要转换的歌单（这时会跳转到歌单页面）
    2.复制歌单地址，类似与 https://y.qq.com/n/yqq/playlist/xxxxx.html, 粘贴到上方的编辑框
    3.点击按钮， 浏览器会下载一个文件
    4.下载网易云客户端，安装并登录
    5.点击自己的昵称，会出现一个菜单，点击其中的导入歌单，选择酷我音乐
    6.上传刚刚下载的文件，稍等片刻， 导入成功
    7.导入的歌曲数量可能不敬人意， 点击上方的‘歌单比较’， 自行手动添加
</pre>
</div>
{% endblock %}